body{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
    background-color: rgb(231, 208, 208);
}

.topnav {
    background-color:rgb(36, 35, 35);
    overflow: hidden;
    height: 80px;
    
  }
  label.logo{
      color: crimson;
      font-size: 30px;
      line-height: 80px;
      padding:0 90px;
      font-weight: bold;

  }
  

  .topnav a {
    float:right;
    color: crimson;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(114, 13, 13);
  }
  
  
  
span{
    color: crimson;
}
.first-part,.second-part,.last-part{
    display: flex;
    

}

h1,h3,h2{
    font-size: 40px;
    color: rgb(53, 52, 52);
}
.half-width{
  width: 50%;
  padding:10px 100px 30px 70px;
  
}
.half-width img{
    width:110%;   
    
}
.half-width p{
    
    margin-bottom:30px;
}
.link-button{
    background-image: linear-gradient(crimson,rgb(182, 21, 42));
    border-radius: 10px;
    padding: 10px 20px;
    width: 700px;
    color: rgb(253, 245, 245);
    text-decoration: none;

    
}
.second-part{
    background-color: rgb(236, 229, 229);
}
.second-part img{
    width:50%;
    
}
.recipie-header{
    text-align: center;
}
.flexibility{
    width:33.33%;
    margin:30px;
    padding:15px;
    box-shadow: 10px 10px 20px grey; 
    border-image:linear-gradient(rgb(240, 194, 194),rgb(146, 52, 8));
    border-left:3px solid;
    border-image-slice: 3;
    

}
.last-part img{ 
    width:90%;
    border-radius: 10px;
}
footer{
    text-align: center;
    background-color: rgb(36, 35, 35);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top:70px;
    color: rgb(83, 83, 83);
}
.flexibility:hover {
    background-color: #ddd;
    color: rgb(114, 13, 13);
  }
